@charset "UTF-8";
/* font-family: "IntroRustG"; */
@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProMediumItalic"; */
@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBoldItalic"; */
@font-face {
  font-family: "GothamProBolditalic";
  src: url("../fonts/GothamProBoldItalic.ttf");
  font-style: normal;
  font-weight: normal; }

.franchise {
  /* Смежные классы */
  /* End Смежные классы */
  /*---------- block-start ----------*/
  /*---------- end block-start ----------*/
  /*---------- block-result ------------ */
  /*-------- end block-result -----------*/
  /*-------- block why-choose -----------*/
  /*-------- end why-choose -----------*/
  /*-------- block-partnership -------------*/
  /*-------- end block-partnership ---------*/
  /*-------- block-franchise-will-work -------------*/
  /*-------- block-franchise-will-work -------------*/
  /*-------------- block-faq ----------------*/
  /*------------ end block-faq --------------*/
  /*-------------- 8-Reasons ----------------*/
  /*------------ end 8-Reasons --------------*/
  /*---------- block history ----------*/
  /*---------- end block history ----------*/
  /*---------- block reviews ----------*/
  /*---------- end block reviews ----------*/
  /*---------- forma ----------*/
  /*---------- end forma ----------*/
  /*---------- footer ----------*/
  /*---------- end footer ----------*/ }
  .franchise .main-content {
    max-width: 1770px;
    margin: auto; }
  .franchise .nav .open > a, .franchise .nav .open > a:focus, .franchise .nav .open > a:hover {
    background-color: transparent !important; }
  .franchise button, .franchise input {
    outline: none; }
  .franchise .btn-purple {
    background-color: #810C74;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-family: "GothamProBold";
    width: 210px;
    height: 40px;
    position: relative;
    border-radius: 2px; }
  .franchise .title {
    font-family: "IntroRustG";
    font-size: 60px;
    color: #232323; }
  .franchise .btn-download {
    padding-left: 50px;
    max-width: 150px;
    background-color: transparent;
    border: none;
    text-align: left;
    background-image: url(../svg/btn-download.svg);
    background-repeat: no-repeat;
    height: 34px;
    font-size: 18px;
    line-height: 18px; }
  .franchise body {
    font-family: "GothamProRegular", "Helvetica Neue", "Helvetica,Arial,sans-serif" !important;
    letter-spacing: 1px; }
  .franchise header {
    padding: 10px 25px 0;
    position: relative; }
    .franchise header .search-block {
      display: none; }
    .franchise header .navbar-toggle:hover {
      background: transparent !important; }
    .franchise header .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s; }
    .franchise header .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .franchise header .navbar-toggle .middle-bar {
      opacity: 0; }
    .franchise header .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
    .franchise header .navbar-toggle.collapsed .top-bar {
      transform: rotate(0); }
    .franchise header .navbar-toggle.collapsed .middle-bar {
      opacity: 1; }
    .franchise header .navbar-toggle.collapsed .bottom-bar {
      transform: rotate(0); }
    .franchise header .main-content {
      justify-content: space-between; }
    .franchise header .navbar-toggle {
      margin-right: 0; }
    .franchise header .navbar-toggle .icon-bar {
      background: #ff9600; }
    .franchise header .navbar-toggle:hover {
      background: transparent !important; }
    .franchise header .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s; }
    .franchise header .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .franchise header .navbar-toggle .middle-bar {
      opacity: 0; }
    .franchise header .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
    .franchise header .navbar-toggle.collapsed .top-bar {
      transform: rotate(0); }
    .franchise header .navbar-toggle.collapsed .middle-bar {
      opacity: 1; }
    .franchise header .navbar-toggle.collapsed .bottom-bar {
      transform: rotate(0); }
  .franchise .logo {
    width: 180px;
    height: 52px;
    cursor: pointer; }
    .franchise .logo img {
      max-width: 100%;
      max-height: 100%; }
  .franchise .breadcrumd {
    color: rgba(255, 255, 255, 0.4);
    padding-top: 25px;
    font-size: 12px;
    padding: 5px 0; }
    .franchise .breadcrumd .you-here {
      color: #FFFFFF; }
  .franchise .main-content {
    max-width: 1770px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .franchise .main-content .menu ul li:hover:after {
      display: block;
      content: '';
      height: 2px;
      width: 80%;
      margin: auto;
      position: absolute;
      background-color: #FF9600; }
    .franchise .main-content .menu ul li:hover a {
      padding-bottom: 15px; }
    .franchise .main-content .menu ul li:hover ul {
      background-color: rgba(206, 206, 206, 0.55);
      border: none;
      box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175); }
      .franchise .main-content .menu ul li:hover ul li {
        padding: 15px 0 0 0;
        margin: 0;
        transition: 0.2s; }
        .franchise .main-content .menu ul li:hover ul li a, .franchise .main-content .menu ul li:hover ul li a:hover {
          color: #FFFFFF;
          font-family: GothamProRegular; }
        .franchise .main-content .menu ul li:hover ul li:hover {
          background-color: rgba(131, 81, 127, 0.77); }
          .franchise .main-content .menu ul li:hover ul li:hover:after {
            display: none; }
    .franchise .main-content .menu ul .open .custom-caret {
      transform: rotate(-180deg);
      transition: 0.2s; }
    .franchise .main-content .menu ul .open a {
      padding-bottom: 15px; }
    .franchise .main-content .menu ul .open ul {
      background-color: rgba(206, 206, 206, 0.55);
      border: none;
      box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175); }
      .franchise .main-content .menu ul .open ul li {
        padding: 15px 0 0 0;
        margin: 0;
        transition: 0.2s; }
        .franchise .main-content .menu ul .open ul li a, .franchise .main-content .menu ul .open ul li a:hover {
          color: #FFFFFF;
          font-family: "GothamProRegular"; }
        .franchise .main-content .menu ul .open ul li:hover {
          background-color: rgba(131, 81, 127, 0.77); }
          .franchise .main-content .menu ul .open ul li:hover:after {
            display: none; }
    .franchise .main-content .menu a {
      font-family: "IntroRustG";
      font-size: 1.55rem;
      color: #ffb74f;
      transition: 0.2s; }
    .franchise .main-content .menu a:hover, .franchise .main-content .menu a:focus {
      color: #ffb74f;
      transition: 0.2s;
      background-color: transparent; }
    .franchise .main-content .menu .active a {
      color: #FFFFFF; }
    .franchise .main-content .menu .custom-caret {
      transition: 0.2s;
      max-width: 12px;
      vertical-align: middle;
      padding: 6px 0;
      position: relative;
      left: 3px; }
    .franchise .main-content p {
      margin: 0; }
    .franchise .main-content a {
      color: #ffb74f;
      font-family: "GothamProRegular"; }
    .franchise .main-content .decor-line {
      width: 150px;
      height: 718px;
      background-color: rgba(255, 150, 0, 0.67);
      position: absolute;
      top: 0;
      left: 297px;
      display: none; }
      .franchise .main-content .decor-line:before {
        content: '';
        display: block;
        width: 0px;
        background-color: #FF9600;
        box-shadow: 0 0 0 6px #FF9600;
        height: 215px;
        float: left;
        top: 360px;
        position: relative; }
    .franchise .main-content .group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 500px;
      justify-content: space-between;
      left: 50px;
      position: relative; }
      .franchise .main-content .group .call-number {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        font-weight: 800;
        padding-bottom: 6px;
        max-width: 200px;
        justify-content: flex-end; }
        .franchise .main-content .group .call-number a {
          transition: 0.2s; }
          .franchise .main-content .group .call-number a:hover, .franchise .main-content .group .call-number a:focus {
            color: #ffb74f;
            text-decoration: none;
            text-shadow: 0 0 1px #FF9600; }
      .franchise .main-content .group .city {
        padding-bottom: 10px;
        padding-left: 13px;
        width: 150px; }
        .franchise .main-content .group .city .point {
          height: 30px;
          float: left;
          position: relative;
          top: 5px;
          right: 10px; }
        .franchise .main-content .group .city .custom-caret {
          max-width: 10px;
          transition: 0.2s; }
        .franchise .main-content .group .city label {
          margin: 0;
          color: #B3B8B3; }
        .franchise .main-content .group .city .select {
          background-color: transparent;
          border: none;
          font-family: "IntroRustG";
          padding: 0;
          color: #FFFFFF;
          color: #FF9600; }
        .franchise .main-content .group .city .open .select .custom-caret {
          transform: rotate(-180deg);
          transition: 0.2s; }
  .franchise .first-screen {
    padding-bottom: 50px; }
    .franchise .first-screen .block-start {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(34, 34, 35, 0.9)), url(../img/system/block-start.jpg);
      height: 100vh;
      max-height: 502px;
      background-position: top, center -506px;
      background-attachment: fixed; }
    .franchise .first-screen .block-start-description {
      max-width: 1450px;
      margin: auto;
      padding: 0 130px; }
      .franchise .first-screen .block-start-description p {
        padding: 0 0 0 218px;
        font-size: 35px;
        position: relative;
        bottom: 45px; }
        .franchise .first-screen .block-start-description p span {
          font-size: 43px;
          font-family: "GothamProBold";
          color: #FF9600;
          line-height: 50px; }
      .franchise .first-screen .block-start-description .btn-download {
        color: #A34E9A;
        font-family: "GothamProBold";
        background-image: url("../svg/btn-download-purple.svg");
        line-height: 19px; }
      .franchise .first-screen .block-start-description:after {
        content: '';
        display: block;
        height: 230px;
        width: 13px;
        background-color: #FF9600;
        left: 203px;
        position: relative;
        bottom: 260px;
        float: right; }
    .franchise .first-screen .title {
      font-family: "GothamProBold";
      font-size: 70px;
      text-transform: uppercase;
      position: relative;
      bottom: 72px;
      line-height: 90px; }
  .franchise .block-result {
    padding: 60px 0 100px 0;
    background-image: linear-gradient(to bottom, #FFFFFF, transparent, #FFFFFF), url(../img/system/figures-bg.png);
    background-position: center;
    background-size: cover; }
    .franchise .block-result .content {
      display: block;
      margin: auto;
      max-width: 1630px;
      padding: 0 15px; }
      .franchise .block-result .content .figures-container {
        background-image: url(../svg/ramka.svg);
        max-width: 923px;
        width: 100%;
        margin: 0 auto 100px auto;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 92px 0 0 0; }
        .franchise .block-result .content .figures-container .figures {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap; }
          .franchise .block-result .content .figures-container .figures .cell {
            max-width: 250px;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin: auto; }
            .franchise .block-result .content .figures-container .figures .cell .description {
              color: #B3B8B3;
              font-size: 18px; }
            .franchise .block-result .content .figures-container .figures .cell .value {
              font-family: "IntroRustG";
              color: #FF9600;
              font-size: 100px;
              line-height: 100px; }
          .franchise .block-result .content .figures-container .figures .btn-send-application {
            height: 61px;
            max-width: 374px;
            width: 100%;
            display: block;
            margin: auto;
            background-color: transparent;
            border: none;
            font-size: 29px;
            color: #3F2400;
            font-family: "GothamProBold";
            margin-top: 52px; }
      .franchise .block-result .content > p {
        max-width: 957px;
        margin: auto;
        font-size: 21px;
        color: #3c0336; }
        .franchise .block-result .content > p:after {
          content: '';
          display: block;
          height: 78px;
          width: 13px;
          background-color: #FF9600;
          position: relative;
          right: 55px;
          bottom: 161px; }
        .franchise .block-result .content > p strong {
          font-family: "GothamProBolditalic";
          font-size: 32px; }
      .franchise .block-result .content .sub-block-advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .franchise .block-result .content .sub-block-advantages .cell {
          max-width: 330px;
          width: 100%;
          padding: 11px 0px 0 3px; }
          .franchise .block-result .content .sub-block-advantages .cell .cell-title {
            color: #FF9600;
            font-size: 32px;
            font-family: "GothamProBold";
            padding-bottom: 15px; }
          .franchise .block-result .content .sub-block-advantages .cell .info {
            font-size: 24px;
            color: #3c0336; }
            .franchise .block-result .content .sub-block-advantages .cell .info strong {
              font-family: "GothamProBold"; }
          .franchise .block-result .content .sub-block-advantages .cell:before {
            content: '';
            display: block;
            height: 13px;
            width: 100px;
            background-color: #EBEDEB;
            position: relative;
            bottom: 10px;
            transition: 0.2s; }
          .franchise .block-result .content .sub-block-advantages .cell:hover {
            background-image: url("../svg/cell-bg.svg");
            background-size: 49%;
            background-repeat: no-repeat;
            background-position: 3px 0px; }
            .franchise .block-result .content .sub-block-advantages .cell:hover:before {
              background-color: #FF9600; }
  .franchise .block-guarantee {
    background-image: url(../img/system/question-bg.png), linear-gradient(to right, #FF9600, #f8ae47);
    padding: 60px 0;
    background-position: 944px, 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; }
    .franchise .block-guarantee:after {
      content: '';
      display: block;
      height: 218px;
      box-shadow: 0 0 0 6px #FF9600;
      position: absolute;
      right: 160px;
      top: 560px; }
    .franchise .block-guarantee .main-content {
      max-width: 1570px;
      margin: auto;
      display: block;
      padding: 0 15px; }
      .franchise .block-guarantee .main-content h3 {
        font-size: 22px;
        font-family: "GothamProBold";
        color: #3c0336; }
      .franchise .block-guarantee .main-content .navs {
        background-image: url("../svg/tabs-frame.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 1120px;
        margin: auto; }
        .franchise .block-guarantee .main-content .navs .nav-tabs {
          border-color: transparent;
          display: flex;
          justify-content: center;
          padding: 32px 0 16px 0; }
          .franchise .block-guarantee .main-content .navs .nav-tabs li {
            text-align: center; }
            .franchise .block-guarantee .main-content .navs .nav-tabs li a {
              color: #FFFFFF;
              transition: 0.2s; }
            .franchise .block-guarantee .main-content .navs .nav-tabs li:hover a {
              background-color: transparent;
              border-color: transparent;
              transition: 0.2s;
              text-shadow: 0 0 1px #FFFFFF; }
          .franchise .block-guarantee .main-content .navs .nav-tabs .active a {
            font-family: "GothamProBold";
            background-color: transparent;
            color: #FFFFFF;
            border-color: transparent; }
        .franchise .block-guarantee .main-content .navs .nav-btns {
          display: flex;
          justify-content: space-around;
          max-width: 165px;
          margin: auto; }
          .franchise .block-guarantee .main-content .navs .nav-btns .btn-next {
            background-image: url(../svg/btn-next.svg);
            background-color: transparent;
            border: none;
            height: 25px;
            width: 15px;
            background-repeat: no-repeat;
            opacity: .6;
            transition: 0.2s; }
            .franchise .block-guarantee .main-content .navs .nav-btns .btn-next:hover {
              opacity: 1; }
          .franchise .block-guarantee .main-content .navs .nav-btns .btn-prev {
            background-image: url(../svg/btn-next.svg);
            background-color: transparent;
            border: none;
            height: 25px;
            width: 15px;
            transform: rotate(180deg);
            background-repeat: no-repeat;
            opacity: .6;
            transition: 0.2s; }
            .franchise .block-guarantee .main-content .navs .nav-btns .btn-prev:hover {
              opacity: 1; }
      .franchise .block-guarantee .main-content .title {
        color: #640657;
        text-align: center;
        font-size: 48px; }
        .franchise .block-guarantee .main-content .title:after {
          content: '';
          display: block;
          height: 5px;
          width: 79px;
          background-color: #FFCC88;
          margin: 35px auto; }
      .franchise .block-guarantee .main-content p {
        text-align: center;
        font-size: 20px;
        color: #33042F; }
      .franchise .block-guarantee .main-content .block-mobile {
        display: none; }
        .franchise .block-guarantee .main-content .block-mobile a {
          color: #FFFFFF;
          display: block;
          padding: 10px 0;
          font-size: 20px;
          text-shadow: 0 0 1px white;
          transition: 0.2s; }
          .franchise .block-guarantee .main-content .block-mobile a:hover, .franchise .block-guarantee .main-content .block-mobile a:focus {
            text-decoration: none; }
          .franchise .block-guarantee .main-content .block-mobile a .caret {
            margin: 0 10px 0 0;
            transform: rotate(-180deg);
            transition: 0.2s; }
        .franchise .block-guarantee .main-content .block-mobile .collapsed {
          text-shadow: none; }
          .franchise .block-guarantee .main-content .block-mobile .collapsed .caret {
            transform: rotate(0deg); }
  .franchise .block-partnership {
    padding: 90px 0; }
    .franchise .block-partnership .block-header {
      max-width: 968px;
      margin: auto; }
      .franchise .block-partnership .block-header strong {
        font-family: "GothamProBold"; }
      .franchise .block-partnership .block-header .title {
        font-size: 45px; }
      .franchise .block-partnership .block-header .subtitle {
        font-size: 18px;
        max-width: 520px;
        margin: 10px auto;
        color: #33042F; }
      .franchise .block-partnership .block-header .description {
        color: #B3B8B3; }
    .franchise .block-partnership .info .packages {
      max-width: 1200px;
      margin: auto;
      padding: 20px 0 35px; }
      .franchise .block-partnership .info .packages .nav-packages {
        border-color: rgba(163, 78, 154, 0.3);
        display: flex;
        justify-content: center;
        padding: 0 0 0 140px; }
        .franchise .block-partnership .info .packages .nav-packages li {
          padding: 0 44px; }
          .franchise .block-partnership .info .packages .nav-packages li a {
            font-size: 18px;
            padding: 15px 0;
            font-family: "GothamProBold";
            border: none;
            background-color: transparent;
            color: #232323;
            transition: 0.2s; }
          .franchise .block-partnership .info .packages .nav-packages li:hover a {
            color: #810C74; }
        .franchise .block-partnership .info .packages .nav-packages .active:after {
          content: '';
          display: block;
          height: 3px;
          width: 100%;
          background-color: #810C74;
          position: relative;
          top: 2px; }
        .franchise .block-partnership .info .packages .nav-packages .active:hover a {
          color: inherit; }
    .franchise .block-partnership .info .description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 35px; }
      .franchise .block-partnership .info .description .left-column {
        font-family: "GothamProBold";
        font-size: 20px;
        max-width: 645px;
        width: 100%; }
        .franchise .block-partnership .info .description .left-column .string {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          padding: 0 0 0 110px; }
          .franchise .block-partnership .info .description .left-column .string span {
            color: #FF9600;
            font-family: "IntroRustG"; }
            .franchise .block-partnership .info .description .left-column .string span b {
              font-size: 50px; }
          .franchise .block-partnership .info .description .left-column .string .money {
            text-align: right; }
      .franchise .block-partnership .info .description .right-column {
        max-width: 1170px;
        width: 100%;
        background-color: #ffb74f;
        padding: 20px 70px 50px;
        font-size: 17px;
        margin: 15px 0 0; }
        .franchise .block-partnership .info .description .right-column:after {
          content: '';
          display: block;
          height: 0;
          width: 50%;
          box-shadow: 0 0 0 6px #810C74;
          position: relative;
          top: 49px;
          right: 29px;
          margin: auto; }
    .franchise .block-partnership .package-composition .title {
      font-size: 22px;
      font-family: "GothamProBold";
      text-align: center; }
    .franchise .block-partnership .package-composition .package-composition-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px 0 50px;
      min-height: 235px; }
      .franchise .block-partnership .package-composition .package-composition-row .cell {
        width: 234px;
        text-align: center; }
        .franchise .block-partnership .package-composition .package-composition-row .cell .image {
          width: 45px;
          height: 45px;
          margin: 15px auto; }
          .franchise .block-partnership .package-composition .package-composition-row .cell .image img {
            max-height: 100%; }
        .franchise .block-partnership .package-composition .package-composition-row .cell .description {
          font-size: 17px;
          color: #232323; }
      .franchise .block-partnership .package-composition .package-composition-row:after {
        content: '';
        display: block;
        height: 0;
        box-shadow: 0 0 0 1px #dfc7dd;
        max-width: 1200px;
        width: 100%;
        position: relative;
        top: 25px; }
    .franchise .block-partnership .package-composition .block-mobile {
      display: none; }
      .franchise .block-partnership .package-composition .block-mobile .btn-show-more {
        background-color: #810C74;
        color: #FFFFFF;
        font-size: 18px;
        font-family: "GothamProBold";
        width: 210px;
        height: 40px;
        position: relative;
        border-radius: 2px;
        margin: auto;
        display: block;
        padding: 7px 0;
        text-align: center; }
    .franchise .block-partnership .package-composition .row-passive .cell {
      opacity: 0.4; }
    .franchise .block-partnership .package-composition .row-last:after {
      display: none; }
    .franchise .block-partnership .package-composition .send-application {
      background-image: linear-gradient(to top, #FF9600, #FF9600);
      background-position: 0, center;
      background-repeat: no-repeat;
      background-size: 100% 13px; }
      .franchise .block-partnership .package-composition .send-application .btn-send-application {
        height: 61px;
        max-width: 374px;
        width: 100%;
        display: block;
        margin: auto;
        background-color: #FFFFFF;
        border: none;
        font-size: 29px;
        color: #3F2400;
        font-family: "GothamProBold"; }
  .franchise .franchise-will-work .types-consumers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 100px; }
    .franchise .franchise-will-work .types-consumers .left-column {
      position: relative;
      z-index: 2;
      padding: 39px 0 0; }
      .franchise .franchise-will-work .types-consumers .left-column .title {
        padding: 0 0 55px;
        position: relative;
        left: 178px; }
      .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs {
        display: flex;
        flex-direction: column;
        border: none; }
        .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li {
          display: flex;
          align-items: center; }
          .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li a {
            font-family: "GothamProBold";
            font-size: 22px;
            color: #3c0336;
            padding: 10px 0;
            border: none; }
          .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li:hover a {
            background-color: transparent;
            border: none; }
          .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li:before {
            display: block;
            content: '';
            height: 15px;
            position: relative;
            right: 10px;
            width: 165px;
            margin: 0 10px 0 0;
            background-position: right center;
            background-image: url("../svg/list-img.svg");
            background-repeat: no-repeat;
            transition: 0.2s;
            background-size: 5px; }
          .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li:hover:before {
            background-size: 7px; }
        .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs .active a {
          border: none;
          color: #FF9600;
          background-color: transparent; }
        .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs .active:before {
          background-image: url("../svg/list-img-active.svg");
          background-repeat: no-repeat;
          background-size: 200px; }
        .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs .active:hover:before {
          background-size: 200px; }
    .franchise .franchise-will-work .types-consumers .right-column {
      max-width: 1288px;
      width: 100%;
      max-height: 430px;
      height: 100vh; }
      .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content .tab-pane {
        padding: 205px 40px 0;
        height: -webkit-fill-available; }
        .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content .tab-pane p {
          font-size: 19px;
          color: #FFFFFF; }
      .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content #Beginner-Entrepreneur {
        background-color: #FF9600;
        background-image: linear-gradient(to right, #ffb74f, transparent), url("../img/content/types-consumers/1.jpg");
        background-position: right;
        background-repeat: no-repeat; }
      .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content #Construction-team {
        background-color: #FF9600;
        background-image: linear-gradient(to right, #ffb74f, transparent), url("../img/content/types-consumers/1.jpg");
        background-position: right;
        background-repeat: no-repeat; }
      .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content #Interested-investing {
        background-color: #FF9600;
        background-image: linear-gradient(to right, #ffb74f, transparent), url("../img/content/types-consumers/1.jpg");
        background-position: right;
        background-repeat: no-repeat; }
  .franchise .franchise-will-work .opening-plan {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .franchise .franchise-will-work .opening-plan .left-column {
      width: 50%; }
      .franchise .franchise-will-work .opening-plan .left-column .gradient-text {
        font-family: 'GothamProItalic';
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;
        background: linear-gradient(to bottom, #FF9600, #810C74);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        display: table;
        margin: 20px auto;
        line-height: 43px; }
        .franchise .franchise-will-work .opening-plan .left-column .gradient-text span {
          font-family: "GothamProBolditalic"; }
    .franchise .franchise-will-work .opening-plan .right-column {
      width: 50%; }
      .franchise .franchise-will-work .opening-plan .right-column ol {
        counter-reset: myCounter-3; }
        .franchise .franchise-will-work .opening-plan .right-column ol li {
          color: #ffb74f;
          list-style: none;
          padding: 0 0 10px; }
          .franchise .franchise-will-work .opening-plan .right-column ol li span {
            color: #232323; }
          .franchise .franchise-will-work .opening-plan .right-column ol li h5 {
            font-family: "GothamProBolditalic";
            font-size: 28px; }
            .franchise .franchise-will-work .opening-plan .right-column ol li h5:after {
              content: '';
              display: block;
              height: 1px;
              width: 20%;
              background-color: #ffb74f;
              position: relative;
              left: 71px;
              top: 2px; }
          .franchise .franchise-will-work .opening-plan .right-column ol li p {
            font-size: 16px;
            color: #232323;
            padding: 5px 125px 0; }
          .franchise .franchise-will-work .opening-plan .right-column ol li:before {
            counter-increment: myCounter-3;
            content: counter(myCounter-3) " этап";
            font-size: 25px;
            font-family: "GothamProBolditalic";
            float: left;
            padding: 0 35px 0 0; }
  .franchise .franchise-will-work .grafic {
    margin: auto;
    display: block;
    max-width: 1620px;
    width: 100%;
    padding: 81px 15px 125px 15px; }
  .franchise .block-faq {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse; }
    .franchise .block-faq .desk {
      max-width: 1118px;
      width: 100%;
      height: 515px;
      padding: 50px 95px 20px 75px;
      background-image: url(../svg/frame-faq.svg);
      background-size: 100% 100%;
      background-position: -15px 0px;
      background-repeat: no-repeat; }
      .franchise .block-faq .desk .navs {
        min-height: 16px;
        padding: 25px 0 35px; }
        .franchise .block-faq .desk .navs .nav-tabs {
          border: none;
          max-width: 410px; }
          .franchise .block-faq .desk .navs .nav-tabs:after {
            content: '';
            display: block;
            position: relative;
            height: 1px;
            width: 100vw;
            max-width: 535px;
            background-color: #FFCC88;
            bottom: 6px;
            right: 0;
            left: 100%; }
          .franchise .block-faq .desk .navs .nav-tabs li {
            top: 3px;
            width: 46px;
            min-height: 15px; }
            .franchise .block-faq .desk .navs .nav-tabs li a {
              border: none;
              border-radius: 100%;
              background-color: #FFCC88;
              height: 10px;
              width: 10px;
              padding: 0;
              transition: 0.1s; }
          .franchise .block-faq .desk .navs .nav-tabs .active {
            top: 0; }
            .franchise .block-faq .desk .navs .nav-tabs .active a {
              height: 15px;
              width: 15px;
              background-color: #FF9600; }
              .franchise .block-faq .desk .navs .nav-tabs .active a:hover, .franchise .block-faq .desk .navs .nav-tabs .active a:focus {
                border: none; }
      .franchise .block-faq .desk .question {
        font-size: 28px;
        font-family: "GothamProBolditalic";
        color: #33042F; }
      .franchise .block-faq .desk .answer {
        font-size: 20px;
        text-align: justify; }
    .franchise .block-faq .title {
      padding: 0 50px 28px 0;
      text-align: right;
      margin: auto 0; }
      .franchise .block-faq .title h2 {
        font-size: 64px;
        color: #640657;
        line-height: 58px;
        padding: 0 0 25px; }
        .franchise .block-faq .title h2 span {
          color: #FF9600;
          font-size: 97px;
          line-height: 40px;
          padding-right: 19px; }
        .franchise .block-faq .title h2:before {
          content: '';
          display: block;
          position: relative;
          height: 1px;
          width: 300px;
          background-color: #FFCC88;
          top: 53px;
          right: 25px; }
      .franchise .block-faq .title p {
        font-size: 16px;
        font-family: "GothamProRegular";
        padding: 0 21px 0 0;
        color: #989B98; }
        .franchise .block-faq .title p a {
          color: #FF9600;
          font-family: "GothamProBold";
          text-decoration: none; }
          .franchise .block-faq .title p a:after {
            content: '';
            display: block;
            height: 1px;
            background-color: #FF9600;
            width: 100%;
            max-width: 218px;
            float: right; }
  .franchise .eight-reasons {
    background-image: linear-gradient(to bottom, #FFFFFF, transparent, transparent, #FFFFFF), url("../img/system/8-Reasons-bg.jpg");
    background-size: cover;
    padding: 100px 0 45px;
    overflow: hidden; }
    .franchise .eight-reasons .desk {
      background-image: url("../img/system/reasons-desk-bg.png");
      background-size: cover;
      max-width: 1370px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 75px 60px 75px; }
      .franchise .eight-reasons .desk:before {
        content: '';
        display: block;
        height: 1px;
        background-color: #FF9600;
        box-shadow: 0 0 0 6px #FF9600;
        width: 100%;
        left: 950px;
        position: relative; }
      .franchise .eight-reasons .desk:after {
        content: '';
        display: block;
        height: 1px;
        background-color: #FF9600;
        box-shadow: 0 0 0 6px #FF9600;
        width: 100%;
        right: 1203px;
        top: 60px;
        position: relative; }
      .franchise .eight-reasons .desk .title {
        position: relative;
        bottom: 63px;
        right: 202px;
        padding: 0 600px 0 0; }
        .franchise .eight-reasons .desk .title h2 {
          color: #FF9600;
          font-family: "IntroRustG";
          line-height: 58px;
          margin: 0;
          font-weight: 400;
          font-size: 91px;
          text-shadow: 4px 4px 0 #3F2400;
          position: relative;
          top: 19px;
          z-index: 1; }
          .franchise .eight-reasons .desk .title h2 .figure {
            font-size: 133px; }
        .franchise .eight-reasons .desk .title .text {
          color: #FFFFFF;
          font-size: 40px;
          line-height: 40px;
          font-family: "GothamProRegular";
          position: relative;
          z-index: 2; }
      .franchise .eight-reasons .desk .column {
        max-width: 46%;
        position: relative; }
        .franchise .eight-reasons .desk .column ol {
          padding: 0; }
          .franchise .eight-reasons .desk .column ol li {
            font-family: "GothamProBolditalic";
            font-size: 22px;
            color: #33042F;
            list-style: none;
            letter-spacing: 0; }
            .franchise .eight-reasons .desk .column ol li p {
              font-size: 12px;
              font-family: "GothamProRegular";
              padding-left: 60px; }
            .franchise .eight-reasons .desk .column ol li:before {
              font-family: "IntroRustG";
              font-size: 55px;
              color: #FF9600;
              display: inline-block;
              text-align: center;
              margin: 5px 10px;
              line-height: 40px;
              width: 40px;
              height: 40px;
              top: 22px;
              right: 5px;
              position: relative; }
        .franchise .eight-reasons .desk .column .first-list {
          counter-reset: myCounter-1; }
          .franchise .eight-reasons .desk .column .first-list li:before {
            counter-increment: myCounter-1;
            content: counter(myCounter-1); }
        .franchise .eight-reasons .desk .column .second-list {
          counter-reset: myCounter-2 4; }
          .franchise .eight-reasons .desk .column .second-list li:before {
            counter-increment: myCounter-2;
            content: counter(myCounter-2); }
      .franchise .eight-reasons .desk .first-column {
        bottom: 112px; }
  .franchise .block-history {
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.8), white), url(../img/system/history-bg.png);
    padding: 0 15px; }
    .franchise .block-history p {
      font-size: 18px;
      color: #3c0336; }
      .franchise .block-history p strong {
        font-family: "gothamProBold"; }
    .franchise .block-history .arrow {
      height: 23px;
      margin: 15px 0 40px; }
    .franchise .block-history .radial-cell {
      max-width: 300px;
      margin: auto; }
      .franchise .block-history .radial-cell .title {
        font-family: "GothamProBold";
        color: #3c0336;
        font-size: 24px;
        padding: 10px 0 15px; }
      .franchise .block-history .radial-cell .image {
        height: 180px;
        width: 180px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center; }
      .franchise .block-history .radial-cell .description {
        color: #585B58; }
  .franchise .block-reviews {
    background-image: linear-gradient(to bottom, #FFFFFF, rgba(255, 255, 255, 0.64), transparent), url(../img/system/block-reviews-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0 0 150px 0;
    background-position: bottom; }
    .franchise .block-reviews .main-content {
      max-width: 1600px;
      display: block;
      position: relative; }
      .franchise .block-reviews .main-content .title {
        font-family: "IntroRustG";
        color: #FF9600;
        line-height: 33px;
        font-size: 60px; }
        .franchise .block-reviews .main-content .title span {
          color: #810C74; }
        .franchise .block-reviews .main-content .title:before {
          content: '';
          display: block;
          height: 0;
          width: 100px;
          box-shadow: 0 0 0 6px #FF9600;
          position: relative;
          top: 64px;
          right: 150px; }
        .franchise .block-reviews .main-content .title:after {
          content: '';
          display: block;
          height: 12px;
          background-image: linear-gradient(to right, #FF9600, #3c0336);
          width: 100%;
          position: relative;
          left: 1220px; }
      .franchise .block-reviews .main-content .tabs .nav-tabs {
        display: flex;
        flex-direction: column;
        border: none;
        width: 124px;
        position: absolute;
        right: 160px;
        top: 270px; }
        .franchise .block-reviews .main-content .tabs .nav-tabs li {
          display: flex;
          align-items: center; }
          .franchise .block-reviews .main-content .tabs .nav-tabs li a {
            border: none;
            background-color: transparent;
            display: flex;
            width: 32px;
            height: 32px;
            padding: 5px;
            justify-content: center;
            align-items: center; }
            .franchise .block-reviews .main-content .tabs .nav-tabs li a div {
              width: 10px;
              height: 10px;
              background-color: #989B98;
              border-radius: 100%;
              transition: 0.1s; }
          .franchise .block-reviews .main-content .tabs .nav-tabs li p {
            opacity: 0;
            cursor: default;
            transition: 0.4s;
            color: #B3B8B3;
            font-size: 16px;
            transform: rotateY(90deg);
            transform-origin: left; }
          .franchise .block-reviews .main-content .tabs .nav-tabs li:hover p {
            opacity: .5;
            transform: rotateY(0deg); }
        .franchise .block-reviews .main-content .tabs .nav-tabs .active a div {
          background-color: #810C74;
          width: 15px;
          height: 15px; }
        .franchise .block-reviews .main-content .tabs .nav-tabs .active p {
          opacity: 1 !important;
          cursor: text;
          color: #810C74; }
      .franchise .block-reviews .main-content .tabs .desk {
        background-image: url("../svg/quotes.svg");
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: 40px 150px; }
        .franchise .block-reviews .main-content .tabs .desk .reviewer {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row-reverse;
          align-items: center;
          position: relative;
          left: 150px; }
          .franchise .block-reviews .main-content .tabs .desk .reviewer .photo-reviewer {
            border-radius: 100%;
            overflow: hidden;
            height: 120px;
            width: 120px;
            display: flex;
            justify-content: center; }
            .franchise .block-reviews .main-content .tabs .desk .reviewer .photo-reviewer img {
              height: 100%; }
          .franchise .block-reviews .main-content .tabs .desk .reviewer .reviewer-info {
            text-align: right;
            padding: 0 40px; }
            .franchise .block-reviews .main-content .tabs .desk .reviewer .reviewer-info .name {
              font-size: 25px;
              font-family: "GothamProBold";
              color: #3c0336; }
            .franchise .block-reviews .main-content .tabs .desk .reviewer .reviewer-info .rev-about {
              color: #585B58;
              font-size: 18px;
              font-family: "GothamProLightItalic"; }
              .franchise .block-reviews .main-content .tabs .desk .reviewer .reviewer-info .rev-about span {
                font-family: "GothamProMediumItalic"; }
        .franchise .block-reviews .main-content .tabs .desk .tab-pane {
          font-size: 20px;
          padding: 40px 359px 15px 160px;
          min-height: 500px; }
          .franchise .block-reviews .main-content .tabs .desk .tab-pane > p {
            padding: 30px 0; }
  .franchise .form-position-block {
    position: relative; }
    .franchise .form-position-block .forma {
      background-color: #FFFFFF;
      padding: 15px 25px 25px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 1370px;
      top: 15px;
      bottom: 0;
      min-height: 414px;
      box-shadow: 0 0 20px 0 rgba(35, 35, 35, 0.53); }
      .franchise .form-position-block .forma .title {
        font-family: "GothamProBold";
        color: #3c0336;
        font-size: 19pt;
        padding-bottom: 15px; }
        .franchise .form-position-block .forma .title span {
          color: #FF9600; }
      .franchise .form-position-block .forma form {
        display: flex;
        justify-content: space-evenly;
        max-width: 950px;
        margin: auto;
        flex-wrap: wrap; }
        .franchise .form-position-block .forma form .inputs {
          display: flex;
          flex-wrap: wrap;
          max-width: 230px;
          max-height: 206px; }
          .franchise .form-position-block .forma form .inputs input {
            border: 1px solid #989B98;
            border-radius: 3px;
            height: 40px;
            width: 230px;
            padding: 0 0 0 15px;
            color: #232323;
            transition: 0.2s;
            margin: 0 0 15px 0; }
            .franchise .form-position-block .forma form .inputs input::-webkit-input-placeholder {
              transition: 0.2s; }
            .franchise .form-position-block .forma form .inputs input:focus {
              border-color: #FF9600;
              color: #FF9600; }
              .franchise .form-position-block .forma form .inputs input:focus::-webkit-input-placeholder {
                transition: 0.2s;
                opacity: 0; }
        .franchise .form-position-block .forma form .btn-purple {
          top: 22px; }
        .franchise .form-position-block .forma form textarea {
          max-width: 646px;
          max-height: 206px;
          width: 100%;
          border-radius: 3px;
          border-color: #989B98;
          outline: none;
          transition: 0.2s; }
          .franchise .form-position-block .forma form textarea:focus {
            border-color: #FF9600; }
        .franchise .form-position-block .forma form textarea::-webkit-input-placeholder {
          transition: 0.2s; }
        .franchise .form-position-block .forma form textarea:focus::-webkit-input-placeholder {
          opacity: 0;
          transition: 0.2s; }
      .franchise .form-position-block .forma .btn-download {
        padding-left: 50px;
        max-width: 150px;
        background-color: transparent;
        border: none;
        text-align: left;
        background-image: url(../svg/btn-download.svg);
        background-repeat: no-repeat;
        height: 34px;
        font-size: 18px;
        line-height: 18px;
        color: #b9b9b9; }
  .franchise .footer {
    background-color: #3c0336;
    padding: 15px;
    max-height: 275px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap; }
    .franchise .footer .main-content {
      justify-content: space-between;
      margin: auto auto 0; }
      .franchise .footer .main-content .copiright {
        color: #FFFFFF; }
      .franchise .footer .main-content .company-development {
        color: #FFFFFF; }
        .franchise .footer .main-content .company-development span a {
          color: #FF9600;
          text-decoration: none;
          transition: 0.2s; }
          .franchise .footer .main-content .company-development span a:hover {
            text-decoration: none;
            color: #FF9600;
            text-shadow: 0 0 2px #FF9600; }
      .franchise .footer .main-content .btn-scroll-to-top {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 100%;
        background-color: #fff;
        position: fixed;
        display: none;
        right: 15px;
        bottom: 7%;
        background-image: url(../svg/btn-scroll-to-top.svg);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        transition: 0.2s;
        opacity: 0;
        z-index: 5; }
